
body {
  background-color: #dbdbdb;
  padding: 15px;
  margin: 25px;
  border: solid #2514CC 5px;
  border-radius: 5px;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 2.5em;
}

h2 {
  text-align: center;
  font-family: sans-serif;
}

img {
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
}


/*
Page Layout
*/
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-gap: 50px;
  width: 100%;
  padding: 10px;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  border-right: solid 1px;
  padding: 10px;
}

.main {
  grid-area: main;
}

.main hr {
  width: 90%;
}

.footer {
  grid-area: footer;
}


/*
Navigation Menu
*/
nav ul {
  list-style-type: none;
  margin: 10px 30px 10px 5px;
  padding: 0;
  overflow: hidden;
  background-color: black;
  text-align: center;
  border-radius: 5px;
}

nav li {
  display: inline;
  float: left;
}

nav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
}

nav li a:hover:not(.active) {
  background-color: #47993D;
}

.active {
  background-color: #2514CC;
}

.search {
  float: right;
}

.search input {
  padding: 6px;
  margin-top: 8px;
  width: 250px;
}

.search button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  cursor: pointer;
}


/*
Sidebar
*/
.sidebar img {
  width: 100%;
  margin: 25px 0 25px 0;
}


/***
Responsive
***/
@media screen and (max-width: 790px) {
  /*
  Main
  */
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .sidebar {
    display: none;
  }

  /*
  Navigation Bar
  */
  nav ul {
    display: grid;
    grid-template-columns: 1fr;
  }

  nav li {
    float: none;
    width: 100%;
  }

  nav li a {
    width: 100%;
    padding: 14px 0;
    border-bottom: solid black;
  }

  .search {
    float: none;
  }

  .searchdiv {
    display: grid;
    grid-template-columns: 1fr 80px;
    height: 50px;
  }

  .search input {
    width: 100%;
    margin-top: 0;
  }

  .search button {
    margin-right: 0;
    margin-top: 0;
  }

}


/*
Login Page
*/
.login {
  display: grid;
  grid-auto-columns: 1fr;
}

#register {
  color: black;
  font-family: sans-serif;
  margin-left: 25px;
}

.login input {
  width: inherit;
  padding: 12px;
  margin: 10px 0 10px 0;
  display: inline-block;
}

.login button {
  font-size:1em;
  padding: 5px;
  margin: 10px 0 0 2px;
  width: max-content;
}


/*
Register Page
*/
.register {
  display: grid;
  grid-auto-columns: 1fr;
}

.register label {
  display: block;
  margin: 10px 0 0 5px;
}

.register input {
  width: 90%;
  padding: 12px;
  margin: 10px 0 10px 0;
  display: block;
}

.register button {
  font-size: 1em;
  padding: 5px;
  margin: 10px 0 0 2px;
  width: max-content;
}


/*
Submit Rating Page
*/
.rate {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
  grid-gap: 10px;
  align-items: center;
  grid-auto-rows: 1fr;
}

.rate input[type="text"] {
  width: 90%;
  height: 20px;
  padding: 5px;
  justify-self: center;
}

.rate .slidercontainer {
  display: table;
  width: 100%;
  text-align: center;
}

.rate .radiocontainer {
  margin-left: 15px;
}

.rate span {
  display: table-cell;
  vertical-align: middle;
}

.rate .slider {
  display: table-cell;
  vertical-align: middle;
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: gray;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.rate .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: blue;
  cursor: pointer;
}

.rate .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: blue;
  cursor: pointer;
}

#chili {
  width: 50px;
  height: auto;
}

.rate button {
  font-size: 1em;
  padding: 5px;
  margin: 10px 0 0 2px;
}


/*
Search Results
*/
.results {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.results a {
  text-decoration: none;
  color: black;
}

.searchresult {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-items: center;
  border: solid 1px;
  border-radius: 5px;
  padding: 10px;
  column-rule: dotted;
}

.searchresult h3 {
  display: block;
  margin: 10px;
  font-family: sans-serif;
}

.searchresult img {
  display: block;
  height: 150px;
}


/*
My Rating Page
*/
.profile {
  width: 90%;
}

.profile .summary {
  display: grid;
  grid-auto-columns: 1fr 1fr;
  width: 90%;
  margin: auto;
  justify-items: center;
  font-family: sans-serif;
  font-weight: bold;
}

.profile .summary h3 {
  -webkit-margin-before: 5px;
  -webkit-margin-after: 5px;
  text-align: center;
  align-self: center;
  font-size: 1.5em;
}

.profile .summary p {
  -webkit-margin-before: 5px;
  -webkit-margin-after: 5px;
  font-size: 3.5em;
  text-align: center;
  align-self: center;
}

.profile .summary img {
  grid-row: 1 / span 3;
  grid-column: 2;
  justify-self: center;
  align-self: center;
  height: 95%;
}

.profile .ratelink {
  font-size: 1em;
  padding: 5px;
  margin: 20px 10px;
  justify-self: center;
}

.profile .roommateratings {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-left: 10px;
  grid-row-gap: 10px;
}

.profile .roommateratings h4 {
  font-family: sans-serif;
  text-align: center;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
}

.profile .roommateratings div.rating {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: min-content;
  align-items: center;
  grid-column-gap: 5px;
  color: white;
  background-color: #47993D;
  padding: 15px;
  border: solid #47993D;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 1.2em;
}

@media screen and (max-width : 790px) {
  .profile .roommateratings div.rating {
    grid-template-columns: 1fr;
  }
}

.profile .roommateratings div.rating h4 {
  text-align: center;
}

.profile div.comment {
  background-color: white;
  padding: 15px;
  border: solid white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.profile .rating img {
  width: 50px;
  align-self: center;
  justify-self: center;
}
